/* 垂直水平居中 */
@mixin center($layoutType: flex) {
    @if($layoutType == 'absolute') {
        position: relative;

        > :first-child {
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
        }
    }

    @else {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* loading */
@mixin loading() {
}

/* 
* 图片遮罩层 
* shape: circle | rectangle
*/
@mixin image-mask($opacity: 0.7, $shape: circle, $zIndex: 1) {
    position: relative;

    > .mask,
    > .mask-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @if($shape == 'circle') {
            top: 0;
        }
    }

    > .mask {
        z-index: $zIndex;
        background-color: #000;
        opacity: #{$opacity};
        
        @if($shape == 'circle') {
            border-radius: 50%;
        }
    }

    > .mask-text {
        z-index: $zIndex + 1;
        color: #fff;
        word-break: break-all;

        @include center;
    }
}
/* 垂直水平居中 */
@mixin center($layoutType: flex) {
    @if($layoutType == 'absolute') {
        position: relative;

        > :first-child {
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
        }
    }

    @else {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 一侧固定宽度，另一侧宽度自适应 */
@mixin one-side-fixed-width($width: 100) {
    display: flex;
    word-break: break-all;

    > .fixed-side{
        width: if(type-of($width) == 'number', #{$width} + 'px', #{$width});
    }
    
    > :not(.fixed-side) {
        flex: 1;
    }
}

/* 两侧固定宽度，中间宽度自适应 */
@mixin two-sides-fixed-width($leftWidth: 100, $rightWidth: 100, $alignItems: normal) {
    display: flex;
    word-break: break-all;
    align-items: #{$alignItems};

    > :first-child {
        width: if(type-of($leftWidth) == 'number', #{$leftWidth} + 'px', #{$leftWidth});
    }

    > :nth-child(2) {
        flex: 1;
    }

    > :last-child {
        width: if(type-of($rightWidth) == 'number', #{$rightWidth} + 'px', #{$rightWidth});
    }
}

/* 分散对齐 */
@mixin justify($direction: horizontal, $padding: '') {
    display: flex;
    justify-content: space-between;

    @if($direction == 'vertical') {
      flex-direction: column;
    }
    @else {
      align-items: center;

      @if($padding) {
        padding: #{$padding};
      }
    }
}

/* 圣杯布局 */
@mixin grail-layout($wholeHeight: 500, $topHeight: 50, $bottomHeight: 50){
    height: if(type-of($wholeHeight) == 'number', #{$wholeHeight} + 'px', #{$wholeHeight});
    display: flex;
    flex-direction: column;
    word-break: break-all;

    > :first-child {
        height: if(type-of($topHeight) == 'number', #{$topHeight} + 'px', #{$topHeight});
    }

    > :nth-child(2) {
        flex: 1;
        overflow-y: auto;
    }

    > :last-child {
        height: if(type-of($bottomHeight) == 'number', #{$bottomHeight} + 'px', #{$bottomHeight});
    }
}

/* 两列等高布局 */

/* 图文布局 */

/* 等分布局 */
@mixin grid($direction: horizontal) {
    display: flex;

    @if($direction == 'vertical') {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }
}
/* 文本溢出显示省略号 */
@mixin text-overflow($line:1, $width:'') {
  width: if(type-of($width) == 'number', #{$width} + 'px', #{$width});
  overflow: hidden;

  @if($line == 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @if($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: break-all;
  }
}

/*
* 功能：1px 物理像素
* 前提：正确设置 meta 标签，即 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
*/
@mixin one-physical-pixel-border($bStyle, $color, $bDir: null) {
	position: relative;

	&:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    transform: scale(0.5);

    @if($bDir == 'top' or $bDir == 'bottom') {
      left: 0;
      #{$bDir}: 0;
      width: 200%;
      height: 0;
      transform-origin: left $bDir;
      border-#{$bDir}: 1px $bStyle $color;
    }

    @if($bDir == 'left' or $bDir == 'right') {
      top: 0;
      #{$bDir}: 0;
      width: 0;
      height: 200%;
      transform-origin: $bDir top;
      border-#{$bDir}: 1px $bStyle $color;
    }

    @if($bDir == null) {
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      transform-origin: left top;
      border: 1px $bStyle $color;
    }
	}
}

/* 清除浮动 */
@mixin clearfix {
  &::after{
    content:"";
    display:table;
    clear:both;
  }
}

.clearfix {
  @include clearfix;
}

/* 指定背景图像的大小 */
@mixin backgroundSize($image, $width: 100%, $height: 100%) {
  background-image: url($image);
  background-size: $width $height;
}
/* 滚动条滑动 */
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* windows 系统美化 chrome 滚动条 */
html::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.45);
}

/* 去除 chrome 中文本框/域默认的黄色背景 */
input[type="text"]:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* IOS 默认文本框/域阴影 */
input[type="text"],
textarea {
	-webkit-appearance: none;
}

/* 去除 IE 下文本框以及密码框的叉号和眼睛 */
input::-ms-clear{display:none;}
Input::-ms-reveal{display:none;}

/* 列表 */
ol,
ul {
	list-style: none;
}

/* 表格 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 文本域 */
textarea {
	resize: none;
}

/* 置灰状态的鼠标样式 */
.disabled,
[disabled] {
	cursor: not-allowed;
	pointer-events: none;
}
/* 三角形 */
@mixin triangle($borderWidth: 10, $shapeColor: #666, $direction: up) {
    width: 0;
    height: 0;
    border: if(type-of($borderWidth) == 'number', #{$borderWidth} + 'px', #{$borderWidth}) solid transparent;

    $doubleBorderWidth: 2 * $borderWidth;
    
    $borderStyle: if(type-of($doubleBorderWidth) == 'number', #{$doubleBorderWidth} + 'px', #{$doubleBorderWidth}) solid #{$shapeColor};

    @if($direction == 'up') {
        border-bottom: $borderStyle;
    }

    @if($direction == 'down') {
        border-top: $borderStyle;
    }

    @if($direction == 'left') {
        border-right: $borderStyle;
    }

    @if($direction == 'right') {
        border-left: $borderStyle;
    }
}

/* 实心圆 */
@mixin disc($diameter: 15, $bgColor: #666) {
    width: if(type-of($diameter) == 'number', #{$diameter} + 'px', #{$diameter});
    height: if(type-of($diameter) == 'number', #{$diameter} + 'px', #{$diameter});
    @if(str-index(#{$bgColor}, 'gradient') == null) {
      background-color: #{$bgColor};
    }

    @else {
      background-image: #{$bgColor};
    }
    border-radius: 50%;
}

/* 宽高二比一矩形 */