@import './variable.scss';
@import './layout.scss';
@import './mixin.scss';

/* 三个点 */
.three-dots {
    display: flex;
    align-items: center;

    > :nth-child(2) {
        @include disc;
    }

    > :first-child,
    > :last-child {
        width: 5px;
        height: 2px;
        border-radius: 1px;
        background-color: #999;
    }
}

/* 购物车数量 */
@mixin cart-num($diameter: 10px, $color: $gray) {
    width: #{$diameter};
    height: #{$diameter};
    border-radius: 50%;
    background-color: $white;
    color: #{$color};
    border: 1px solid currentColor;

    @include center;
}

/* 
* 图片遮罩层 
* shape: circle | rectangle
*/
@mixin image-mask($opacity: 0.7, $shape: circle, $height: 50px) {
    > .mask,
    > .mask-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @if($shape == 'circle') {
            top: 0;
        }
        @else {
            height: #{$height};
        }
    }

    > .mask {
        z-index: 1;
        background-color: $black;
        opacity: #{$opacity};
        
        @if($shape == 'circle') {
            border-radius: 50%;
        }
    }

    > .mask-text {
        z-index: 2;
        color: $white;

        @include center;
    }
}